<div>
    <h1 mat-dialog-title>Modal de no se que la verdad</h1>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="data" >Razon1</button>
        <button mat-button [mat-dialog-close]="data" >Razon 2</button>
        <button mat-button [mat-dialog-close]="data" >Razon 3</button>
        <button mat-button [mat-dialog-close]="data" >Razon 4</button>
        <button mat-button [mat-dialog-close]="data" >Razon 5</button>
        <button mat-button (click)="cancelar()">Cancelar</button>
    </div>
</div>